*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{

}

.btn{
   text-decoration: none;
   color: white;
   border: 1px solid blue;
   background-color: blue;
   border-radius: 25px;
   padding: 5px 10px;


}